<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" placeholder="Nome" formControlName="nome" [ngClass]="aplicaCssErroInput('nome')">
    <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" mostrarMsg="Nome obrigatório"></app-campo-control-erro>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" placeholder="email@email.com" formControlName="email" [ngClass]="aplicaCssErroInput('email')">
    <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" mostrarMsg="E-mail obrigatório"></app-campo-control-erro>
  </div>
  <div formGroupName="endereco">
    <div class="form-group row">
      <div class="col">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" formControlName="cep" [ngClass]="aplicaCssErroInput('endereco.cep')" (blur)="consultaCEP()">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" mostrarMsg="CEP obrigatório"></app-campo-control-erro>
      </div>
      <div class="col">
        <label for="numero">Número</label>
        <input type="text" class="form-control" formControlName="numero" [ngClass]="aplicaCssErroInput('endereco.numero')">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" mostrarMsg="Número obrigatório"></app-campo-control-erro>
      </div>
      <div class="col">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento">
      </div>
    </div>
    <div class="form-group">
      <label for="rua">Rua</label>
      <input type="text" class="form-control" formControlName="rua" [ngClass]="aplicaCssErroInput('endereco.rua')">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" mostrarMsg="Rua obrigatória"></app-campo-control-erro>
    </div>
    <div class="form-group row">
      <div class="col-md-5">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" [ngClass]="aplicaCssErroInput('endereco.bairro')">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" mostrarMsg="Bairro obrigatório"></app-campo-control-erro>
      </div>
      <div class="col-md-4">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" formControlName="cidade" [ngClass]="aplicaCssErroInput('endereco.cidade')">
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" mostrarMsg="Cidade obrigatória"></app-campo-control-erro>
      </div>
      <div class="col-md-3">
        <label for="estado">Estado</label>
        <select id="estado" class="form-control" formControlName="estado" [ngClass]="aplicaCssErroInput('endereco.estado')">
          <option value="">Selecione o estado</option>
          <option *ngFor="let estado of (estados$ | async)" [value]="estado.sigla">{{ estado.nome + ' - ' + estado.sigla }}</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" mostrarMsg="Estado obrigatório"></app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <select id="cargo" class="form-control" formControlName="cargo" [compareWith]="compareWith">
        <option value="">Selecione</option>
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select multiple id="tecnologias" class="form-control" formControlName="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <h6>Newsletter</h6>
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-3" *ngFor="let op of newsletter">
          <input class="form-check-input" type="radio" formControlName="newsletter" [value]="op.valor">
          Sim
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <h6>Temos</h6>
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-3">
          <input class="form-check-input" type="checkbox" formControlName="termos" [ngClass]="aplicaCssErroInput('termos')"> Sim
        </label>
      </div>
      <app-campo-control-erro [mostrarErro]="verificaValidTouched('termos')" mostrarMsg="Termos obrigatório"></app-campo-control-erro>
    </div>
    <div class="col-md-9">
      <h6>Frameworks</h6>
      <div class="form-group row">
        <div class="col-sm-2" formArrayName="frameworks" *ngFor="let item of formulario.get('frameworks')?.controls; index as i">
          <div class="form-check form-check-inline">
            <label class="form-check-label mr-3">
              <input class="form-check-input" type="checkbox" [formControlName]="i"> {{frameworks[i]}}
            </label>
          </div>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('termos')" mostrarMsg="Termos obrigatório"></app-campo-control-erro>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-info mr-3 ml-3" (click)="setarCargo()">Setar cargo</button>
  <button type="button" class="btn btn-info" (click)="setarTecnologia()">Setar tecnologia</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
